/*

!README.md
!alacritty
!bin
!bspwm
!dunst
!easyeffects
!kitty
!picom
!polybar
!rofi
!tmux
tmux/plugins
!hypr
!waybar
!xdg-desktop-portal
!neofetch
!scripts
!electron-flags.conf
!electron13-flags.conf
!yazi
